LocationProject/VSProject/WCFServiceClient/Service References/LocationServices/CommunicationClass.ExtremeVision.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationClass.ExtremeVision" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationClass.ExtremeVision" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RectInfo" nillable="true" type="tns:RectInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRectInfo" nillable="true" type="tns:ArrayOfRectInfo" />
  <xs:complexType name="RectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="height" type="xs:float" />
      <xs:element minOccurs="0" name="width" type="xs:float" />
      <xs:element minOccurs="0" name="x" type="xs:float" />
      <xs:element minOccurs="0" name="y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RectInfo" nillable="true" type="tns:RectInfo" />
  <xs:complexType name="SmogData">
    <xs:sequence>
      <xs:element minOccurs="0" name="alertFlag" type="xs:int" />
      <xs:element minOccurs="0" name="numOfSmogRects" type="xs:int" />
      <xs:element minOccurs="0" name="smogInfo" nillable="true" type="tns:ArrayOfRectInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmogData" nillable="true" type="tns:SmogData" />
</xs:schema>