LocationProject/VSProject/WCFServiceClient/Service References/LocationServices/TModel.FuncArgs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TModel.FuncArgs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TModel.FuncArgs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchArg">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchArg" nillable="true" type="tns:SearchArg" />
</xs:schema>